.btn button {
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    font-size: large;
    border-radius: 5px;
}

.btn2 {
    background-color: orangered;
}


input{
    width: 200px;
    height: 30px;
}